[Unit]
Description=Example Service Name

[Service]
ExecStart=/path/to/bin
WorkingDirectory=/path/to/work/dir
Restart=always
# Restart service after 5 seconds if node service crashes
RestartSec=5
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=example-service-name
# Can provide environment
# Environment=NODE_ENV=production PORT=123

# This will restart the service once a day
# This also requires "Restart=always"
# Type=notify
# WatchdogSec=86400


[Install]
WantedBy=multi-user.target
